go 1.24.0

use (
	./hustle/content
	./hustle/curation
	./hustle/devagency
	./hustle/ecommerce
	./hustle/localization
	./hustle/publisher
	./hustle/qa
	./hustle/research
	./hustle/social
	./hustle/support
	./hustle/trading
	./orchestrator
)
